Repository alanho-05/c0323-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, prettier --write, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "*.{js,jsx,tx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

es6-destructuring - Alan Ho
  es6-destructuring/.eslintrc
  es6-destructuring/.gitkeep
  es6-destructuring/es6-destructuring-quiz-notes.md
  es6-destructuring/index.html
  es6-destructuring/main.js
  package-lock.json
  package.json
Due: markuplint, prettier --write, eslint --fix

es6-arrow-functions - Alan Ho
  es6-arrow-functions/arrow-this.html
  es6-arrow-functions/es6-arrow-functions-quiz-notes.md
  es6-arrow-functions/index.html
  es6-arrow-functions/main.js
Due: markuplint, prettier --write, eslint --fix

es6-operators - Alan Ho
  es6-operators/es6-operators-quiz-notes.md
  es6-operators/index.html
  es6-operators/main.js
Due: markuplint, prettier --write, eslint --fix

es6-operators-revised - Alan Ho
  es6-operators/es6-operators-quiz-notes.md
  es6-operators/main.js
Due: prettier --write, eslint --fix

array-methods - Alan Ho
  array-methods/.eslintrc
  array-methods/array-methods-quiz-notes.md
  array-methods/filter.js
  array-methods/for-each.js
  array-methods/index.html
  array-methods/map.js
Due: markuplint, prettier --write, eslint --fix

work in progress
  command-line-basics/.gitkeep
  command-line-basics/and-then.txt
  command-line-basics/command-line-basics-quiz-notes.md
  command-line-basics/hello.txt
  command-line-basics/hubris.txt
  command-line-basics/i-was-here.txt
  command-line-basics/impatience.txt
  command-line-basics/kill-me/kill-me-now.png
  command-line-basics/laziness.txt
  command-line-basics/lfz-staff/.bill
  command-line-basics/lfz-staff/.monique
  command-line-basics/lfz-staff/brett
  command-line-basics/lfz-staff/cody
  command-line-basics/lfz-staff/contents.txt
  command-line-basics/lfz-staff/scott
  command-line-basics/lfz-staff/tim-d
  command-line-basics/lfz-staff/tim-h
  command-line-basics/lol.txt
  command-line-basics/pokiemans/bulbasaur
  command-line-basics/pokiemans/charmander
  command-line-basics/pokiemans/squirtle
  command-line-basics/snoot/.gitkeep
  command-line-basics/snoot/boop.txt
  command-line-basics/tag-youre-it.txt
  command-line-basics/three-virtues.txt
Due: prettier --write

node-intro - Alan Ho
  node-intro/.eslintrc
  node-intro/.gitkeep
  node-intro/hello-node.js
  node-intro/node-intro-quiz-notes.md
Due: prettier --write, eslint --fix

node-process - Alan Ho
  node-process/.gitkeep
  node-process/node-process-quiz-notes.md
Due: prettier --write

node-process-argv - Alan Ho
  node-process-argv/.eslintrc
  node-process-argv/.gitkeep
  node-process-argv/all-arguments.js
  node-process-argv/echo.js
  node-process-argv/node-process-argv-quiz-notes.md
  node-process-argv/process.js
Due: prettier --write, eslint --fix

node-process-argv - quiz added
  node-process-argv/node-process-argv-quiz-notes.md
Due: prettier --write

command-line-basics - Alan Ho
  command-line-basics/command-history.txt
  command-line-basics/command-line-basics-quiz-notes.md
  command-line-basics/kill-me/kill-me-now.png
  command-line-basics/lol.txt
  command-line-basics/no-and-then.txt
  command-line-basics/parent/child/grandchild/.gitkeep
  command-line-basics/pokemon/bulbasaur
  command-line-basics/pokemon/charmander
  command-line-basics/pokemon/squirtle
Due: prettier --write

node-module-system - Alan Ho
  node-module-system/.eslintrc
  node-module-system/.gitkeep
  node-module-system/add.js
  node-module-system/calculate.js
  node-module-system/divide.js
  node-module-system/multiply.js
  node-module-system/node-module-system-quiz-notes.md
  node-module-system/package.json
  node-module-system/subtract.js
Due: prettier --write, eslint --fix

node-module-systems revised
  node-module-system/calculate.js
Due: prettier --write, eslint --fix

Quiz revised 2
  node-module-system/node-module-system-quiz-notes.md
Due: prettier --write

the-event-loop - Alan Ho
  the-event-loop/.gitkeep
  the-event-loop/interval.js
  the-event-loop/the-event-loop-quiz-notes.md
  the-event-loop/timeout.js
Due: prettier --write, eslint --fix

Quiz revised
  the-event-loop/the-event-loop-quiz-notes.md
Due: prettier --write

es6-promises - Alan Ho
  es6-promises/.eslintrc
  es6-promises/es6-promises-quiz-notes.md
  es6-promises/main.js
  es6-promises/package.json
  es6-promises/take-a-chance.js
Due: prettier --write, eslint --fix

Quiz revised
  es6-promises/es6-promises-quiz-notes.md
Due: prettier --write

Work in progress
  es6-async-await/await.js
  es6-async-await/es6-async-await-quiz-notes.md
  es6-async-await/exceptions-best.js
  es6-async-await/exceptions.js
  es6-async-await/fetch.js
  es6-async-await/package.json
Due: prettier --write, eslint --fix

es6-async-await - Alan Ho
  es6-async-await/await.js
  es6-async-await/es6-async-await-quiz-notes.md
  es6-async-await/exceptions-best.js
  es6-async-await/exceptions.js
Due: prettier --write, eslint --fix

node-fs-readfile
  node-fs-readfile/cat.js
  node-fs-readfile/cunningham.txt
  node-fs-readfile/dijkstra.txt
  node-fs-readfile/hipster-ipsum.txt
  node-fs-readfile/hopper.txt
  node-fs-readfile/node-fs-readfile-quiz-notes.md
  node-fs-readfile/package.json
  node-fs-readfile/read-any.js
  node-fs-readfile/read-dijkstra.js
Due: prettier --write, eslint --fix

Work in progress
  node-fs-writefile/node-fs-writefile.md
  node-fs-writefile/package.json
  node-fs-writefile/write-rand.js
Due: prettier --write, eslint --fix

Quiz revised
  node-fs-readfile/cat.js
  node-fs-readfile/node-fs-readfile-quiz-notes.md
Due: prettier --write, eslint --fix

node-fs-writefile - Alan Ho
  node-fs-writefile/copy-of-note.txt
  node-fs-writefile/cp.js
  node-fs-writefile/node-fs-writefile.md
  node-fs-writefile/note-to-self.js
  node-fs-writefile/note.txt
  node-fs-writefile/random.txt
  node-fs-writefile/write-rand.js
Due: prettier --write, eslint --fix

node-fs-writefile revised
  node-fs-writefile/cp.js
  node-fs-writefile/node-fs-writefile.md
  node-fs-writefile/note-to-self.js
  node-fs-writefile/note.txt
  node-fs-writefile/write-rand.js
Due: prettier --write, eslint --fix

http-messages-recap - Alan Ho
  http-messages-recap/.gitkeep
  http-messages-recap/.markuplintrc
  http-messages-recap/.stylelintrc
  http-messages-recap/http-messages-recap-quiz-notes.md
  http-messages-recap/index.html
  http-messages-recap/users.json
Due: markuplint, prettier --write

Quiz revised
  http-messages-recap/http-messages-recap-quiz-notes.md
Due: prettier --write

npm-intro - Alan Ho
  npm-intro/.gitkeep
  npm-intro/.npm-init.js
  npm-intro/npm-intro-quiz-notes.md
  npm-intro/package-lock.json
  npm-intro/package.json
Due: prettier --write, eslint --fix

express-intro - Alan Ho
  express-intro/.gitkeep
  express-intro/express-intro-quiz-notes.md
  express-intro/package-lock.json
  express-intro/package.json
  express-intro/server.js
Due: prettier --write, eslint --fix

Quiz revised
  express-intro/express-intro-quiz-notes.md
Due: prettier --write

express-hello-world - Alan Ho
  express-hello-world/.gitkeep
  express-hello-world/express-hello-world-quiz-notes.md
  express-hello-world/package-lock.json
  express-hello-world/package.json
  express-hello-world/server.js
Due: prettier --write, eslint --fix

Quiz added
  express-hello-world/express-hello-world-quiz-notes.md
Due: prettier --write

express-get-json - Alan Ho
  express-get-json/.gitkeep
  express-get-json/express-get-json-quiz-notes.md
  express-get-json/package-lock.json
  express-get-json/package.json
  express-get-json/server.js
Due: prettier --write, eslint --fix

express-delete - Alan Ho
  express-delete/.gitkeep
  express-delete/express-delete-quiz-notes.md
  express-delete/package-lock.json
  express-delete/package.json
  express-delete/server.js
Due: prettier --write, eslint --fix

express-post-json - Alan Ho
  express-post-json/.gitkeep
  express-post-json/express-post-json-quiz-notes.md
  express-post-json/package-lock.json
  express-post-json/package.json
  express-post-json/server.js
Due: prettier --write, eslint --fix

express-post-json - revised
  express-post-json/server.js
Due: prettier --write, eslint --fix

express-notes-api
  express-notes-api/.gitkeep
  express-notes-api/data.json
  express-notes-api/express-notes-api-notes.md
  express-notes-api/package-lock.json
  express-notes-api/package.json
  express-notes-api/server.js
Due: prettier --write, eslint --fix

postgres-intro - Alan Ho
  postgres-intro/.gitkeep
  postgres-intro/list-of-databases.txt
  postgres-intro/postgres-intro-quiz-notes.md
Due: prettier --write

postgres-database - Alan Ho
  postgres-database/.gitkeep
  postgres-database/data.sql
  postgres-database/list-of-databases.txt
  postgres-database/list-of-relations.txt
  postgres-database/postgres-database-quiz-notes.md
  postgres-database/schema.sql
Due: prettier --write

Quiz revised
  postgres-database/postgres-database-quiz-notes.md
Due: prettier --write
