Repository alanho-05/c0323-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, prettier --write, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "*.{js,jsx,tx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Quiz revised
  data-structures-stacks/data-structures-stacks-quiz-notes.md
Due: prettier --write

data-structures-queues - Alan Ho
  data-structures-queues/.eslintrc
  data-structures-queues/add-to-back.js
  data-structures-queues/add-to-back.test.js
  data-structures-queues/data-structures-queues-quiz-notes.md
  data-structures-queues/get-front.js
  data-structures-queues/get-front.test.js
  data-structures-queues/is-empty.js
  data-structures-queues/is-empty.test.js
  data-structures-queues/lib/queue.js
  data-structures-queues/lib/queue.test.js
  data-structures-queues/package-lock.json
  data-structures-queues/package.json
  data-structures-queues/postpone.js
  data-structures-queues/postpone.test.js
  data-structures-queues/take-2nd.js
  data-structures-queues/take-2nd.test.js
  data-structures-queues/take-front.js
  data-structures-queues/take-front.test.js
  data-structures-queues/take-next-smallest.js
  data-structures-queues/take-next-smallest.test.js
  data-structures-queues/take-smaller.js
  data-structures-queues/take-smaller.test.js
  data-structures-queues/take-value-at-index.js
  data-structures-queues/take-value-at-index.test.js
Due: prettier --write, eslint --fix

First challenge completed
  data-structures-queues/take-2nd.js
Due: prettier --write, eslint --fix

Quiz question completed
  data-structures-queues/data-structures-queues-quiz-notes.md
Due: prettier --write

takeValueAtIndex example added
  data-structures-queues/take-value-at-index.js
Due: prettier --write, eslint --fix

data-structures-linked-lists - Alan Ho
  data-structures-linked-lists/.eslintrc
  data-structures-linked-lists/append.js
  data-structures-linked-lists/append.test.js
  data-structures-linked-lists/data-structures-linked-lists-quiz-notes.md
  data-structures-linked-lists/get-head.js
  data-structures-linked-lists/get-head.test.js
  data-structures-linked-lists/get-length.js
  data-structures-linked-lists/get-length.test.js
  data-structures-linked-lists/get-tail.js
  data-structures-linked-lists/get-tail.test.js
  data-structures-linked-lists/includes.js
  data-structures-linked-lists/includes.test.js
  data-structures-linked-lists/insert-next.js
  data-structures-linked-lists/insert-next.test.js
  data-structures-linked-lists/lib/linked-list.js
  data-structures-linked-lists/lib/linked-list.test.js
  data-structures-linked-lists/package-lock.json
  data-structures-linked-lists/package.json
  data-structures-linked-lists/prepend.js
  data-structures-linked-lists/prepend.test.js
  data-structures-linked-lists/remove-next.js
  data-structures-linked-lists/remove-next.test.js
  data-structures-linked-lists/remove-tail.js
  data-structures-linked-lists/remove-tail.test.js
  data-structures-linked-lists/swap-front.js
  data-structures-linked-lists/swap-front.test.js
  data-structures-linked-lists/update-head.js
  data-structures-linked-lists/update-head.test.js
  data-structures-linked-lists/update-next.js
  data-structures-linked-lists/update-next.test.js
  data-structures-linked-lists/without-head.js
  data-structures-linked-lists/without-head.test.js
Due: prettier --write, eslint --fix

Console.log removed
  data-structures-linked-lists/update-head.js
Due: prettier --write, eslint --fix

Quiz revised
  data-structures-linked-lists/data-structures-linked-lists-quiz-notes.md
Due: prettier --write

javascript-closures - Alan Ho
  javascript-closures/.gitkeep
  javascript-closures/javascript-closures-quiz-notes.md
  javascript-closures/my-app/.gitignore
  javascript-closures/my-app/README.md
  javascript-closures/my-app/package-lock.json
  javascript-closures/my-app/package.json
  javascript-closures/my-app/public/favicon.ico
  javascript-closures/my-app/public/index.html
  javascript-closures/my-app/public/logo192.png
  javascript-closures/my-app/public/logo512.png
  javascript-closures/my-app/public/manifest.json
  javascript-closures/my-app/public/robots.txt
  javascript-closures/my-app/src/App.css
  javascript-closures/my-app/src/App.js
  javascript-closures/my-app/src/App.test.js
  javascript-closures/my-app/src/Counter.js
  javascript-closures/my-app/src/Timer.js
  javascript-closures/my-app/src/index.css
  javascript-closures/my-app/src/index.js
  javascript-closures/my-app/src/logo.svg
  javascript-closures/my-app/src/reportWebVitals.js
  javascript-closures/my-app/src/setupTests.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

unit-test-jest - Alan Ho
  unit-tests-jest/.eslintrc
  unit-tests-jest/numbers.js
  unit-tests-jest/numbers.test.js
  unit-tests-jest/package-lock.json
  unit-tests-jest/package.json
  unit-tests-jest/unit-tests-jest-quiz-notes.md
Due: prettier --write, eslint --fix

Revised function and test
  unit-tests-jest/numbers.js
  unit-tests-jest/numbers.test.js
Due: prettier --write, eslint --fix

Quiz revised
  javascript-closures/javascript-closures-quiz-notes.md
  javascript-closures/my-app/src/Counter.js
  unit-tests-jest/numbers.test.js
  unit-tests-jest/unit-tests-jest-quiz-notes.md
Due: prettier --write, eslint --fix

Revert "unit-tests-jest - Alan Ho"
  unit-tests-jest/.eslintrc
  unit-tests-jest/numbers.js
  unit-tests-jest/numbers.test.js
  unit-tests-jest/package-lock.json
  unit-tests-jest/package.json
  unit-tests-jest/unit-tests-jest-quiz-notes.md
Due: prettier --write, eslint --fix
