Repository alanho-05/c0323-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, prettier --write, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "*.{js,jsx,tx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

react-app-drawer-component - Alan Ho
  react-app-drawer-component/.gitkeep
  react-app-drawer-component/my-app/.gitignore
  react-app-drawer-component/my-app/README.md
  react-app-drawer-component/my-app/package-lock.json
  react-app-drawer-component/my-app/package.json
  react-app-drawer-component/my-app/public/favicon.ico
  react-app-drawer-component/my-app/public/index.html
  react-app-drawer-component/my-app/public/logo192.png
  react-app-drawer-component/my-app/public/logo512.png
  react-app-drawer-component/my-app/public/manifest.json
  react-app-drawer-component/my-app/public/robots.txt
  react-app-drawer-component/my-app/src/App.css
  react-app-drawer-component/my-app/src/App.js
  react-app-drawer-component/my-app/src/App.test.js
  react-app-drawer-component/my-app/src/AppDrawer.css
  react-app-drawer-component/my-app/src/AppDrawer.js
  react-app-drawer-component/my-app/src/index.css
  react-app-drawer-component/my-app/src/index.js
  react-app-drawer-component/my-app/src/logo.svg
  react-app-drawer-component/my-app/src/reportWebVitals.js
  react-app-drawer-component/my-app/src/setupTests.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

JsDoc added
  react-app-drawer-component/my-app/src/AppDrawer.js
Due: prettier --write, eslint --fix

react-effects - Alan Ho
  react-effects/.gitkeep
  react-effects/my-app/.gitignore
  react-effects/my-app/README.md
  react-effects/my-app/package-lock.json
  react-effects/my-app/package.json
  react-effects/my-app/public/favicon.ico
  react-effects/my-app/public/index.html
  react-effects/my-app/public/logo192.png
  react-effects/my-app/public/logo512.png
  react-effects/my-app/public/manifest.json
  react-effects/my-app/public/robots.txt
  react-effects/my-app/src/App.css
  react-effects/my-app/src/App.js
  react-effects/my-app/src/App.test.js
  react-effects/my-app/src/List.js
  react-effects/my-app/src/index.css
  react-effects/my-app/src/index.js
  react-effects/my-app/src/logo.svg
  react-effects/my-app/src/read.js
  react-effects/my-app/src/reportWebVitals.js
  react-effects/my-app/src/setupTests.js
  react-effects/react-effects-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

quiz revised
  react-effects/react-effects-quiz-notes.md
Due: prettier --write

try catch finally revised
  react-effects/my-app/src/List.js
Due: prettier --write, eslint --fix

react-carousel-component - Alan Ho
  react-carousel-component/.gitkeep
  react-carousel-component/my-app/.gitignore
  react-carousel-component/my-app/README.md
  react-carousel-component/my-app/package-lock.json
  react-carousel-component/my-app/package.json
  react-carousel-component/my-app/public/favicon.ico
  react-carousel-component/my-app/public/images/css.png
  react-carousel-component/my-app/public/images/html.png
  react-carousel-component/my-app/public/images/javascript.png
  react-carousel-component/my-app/public/index.html
  react-carousel-component/my-app/public/logo192.png
  react-carousel-component/my-app/public/logo512.png
  react-carousel-component/my-app/public/manifest.json
  react-carousel-component/my-app/public/robots.txt
  react-carousel-component/my-app/src/App.css
  react-carousel-component/my-app/src/App.js
  react-carousel-component/my-app/src/App.test.js
  react-carousel-component/my-app/src/Carousel.css
  react-carousel-component/my-app/src/Carousel.js
  react-carousel-component/my-app/src/index.css
  react-carousel-component/my-app/src/index.js
  react-carousel-component/my-app/src/logo.svg
  react-carousel-component/my-app/src/reportWebVitals.js
  react-carousel-component/my-app/src/setupTests.js
  react-carousel-component/react-carousel-component-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

Added JsDoc
  react-carousel-component/my-app/src/Carousel.css
  react-carousel-component/my-app/src/Carousel.js
Due: prettier --write, stylelint --fix, eslint --fix

react-lifting-state - Alan Ho
  react-lifting-state/my-app/.gitignore
  react-lifting-state/my-app/README.md
  react-lifting-state/my-app/package-lock.json
  react-lifting-state/my-app/package.json
  react-lifting-state/my-app/public/favicon.ico
  react-lifting-state/my-app/public/index.html
  react-lifting-state/my-app/public/logo192.png
  react-lifting-state/my-app/public/logo512.png
  react-lifting-state/my-app/public/manifest.json
  react-lifting-state/my-app/public/robots.txt
  react-lifting-state/my-app/src/App.css
  react-lifting-state/my-app/src/App.js
  react-lifting-state/my-app/src/App.test.js
  react-lifting-state/my-app/src/TaskManager.js
  react-lifting-state/my-app/src/index.css
  react-lifting-state/my-app/src/index.js
  react-lifting-state/my-app/src/logo.svg
  react-lifting-state/my-app/src/reportWebVitals.js
  react-lifting-state/my-app/src/setupTests.js
  react-lifting-state/react-lifting-state-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

express-static - Alan Ho
  express-static/.gitkeep
  express-static/express-static-quiz-notes.md
  express-static/package-lock.json
  express-static/package.json
  express-static/public/images/131925.png
  express-static/public/images/134736.png
  express-static/public/images/135042.png
  express-static/public/images/135099.png
  express-static/public/images/135158.png
  express-static/public/images/download.png
  express-static/public/index.html
  express-static/public/main.js
  express-static/public/styles.css
  express-static/server.js
  package-lock.json
  package.json
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

express-static - revised
  package-lock.json
  package.json
Due: prettier --write

fetch - Alan Ho
  fetch/fetch-quiz-notes.md
  fetch/index.html
  fetch/main.js
Due: markuplint, prettier --write, eslint --fix

fetch revised
  fetch/main.js
Due: prettier --write, eslint --fix

fetch-in-react - Alan Ho
  fetch-in-react/.gitkeep
  fetch-in-react/fetch-in-react-quiz-notes.md
  fetch-in-react/my-app/.gitignore
  fetch-in-react/my-app/README.md
  fetch-in-react/my-app/package-lock.json
  fetch-in-react/my-app/package.json
  fetch-in-react/my-app/public/favicon.ico
  fetch-in-react/my-app/public/index.html
  fetch-in-react/my-app/public/logo192.png
  fetch-in-react/my-app/public/logo512.png
  fetch-in-react/my-app/public/manifest.json
  fetch-in-react/my-app/public/robots.txt
  fetch-in-react/my-app/src/App.css
  fetch-in-react/my-app/src/App.js
  fetch-in-react/my-app/src/App.test.js
  fetch-in-react/my-app/src/User.js
  fetch-in-react/my-app/src/UserCard.js
  fetch-in-react/my-app/src/Users.css
  fetch-in-react/my-app/src/Users.js
  fetch-in-react/my-app/src/index.css
  fetch-in-react/my-app/src/index.js
  fetch-in-react/my-app/src/logo.svg
  fetch-in-react/my-app/src/reportWebVitals.js
  fetch-in-react/my-app/src/setupTests.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

Quiz revised
  fetch-in-react/fetch-in-react-quiz-notes.md
  fetch-in-react/my-app/src/User.js
  fetch-in-react/my-app/src/Users.js
Due: prettier --write, eslint --fix

fetch-in-react-practice - Alan Ho
  fetch-in-react-practice/client/.gitignore
  fetch-in-react-practice/client/README.md
  fetch-in-react-practice/client/package-lock.json
  fetch-in-react-practice/client/package.json
  fetch-in-react-practice/client/public/favicon.ico
  fetch-in-react-practice/client/public/index.html
  fetch-in-react-practice/client/public/logo192.png
  fetch-in-react-practice/client/public/logo512.png
  fetch-in-react-practice/client/public/manifest.json
  fetch-in-react-practice/client/public/robots.txt
  fetch-in-react-practice/client/src/App.css
  fetch-in-react-practice/client/src/App.js
  fetch-in-react-practice/client/src/App.test.js
  fetch-in-react-practice/client/src/components/PageTitle.js
  fetch-in-react-practice/client/src/components/TodoForm.js
  fetch-in-react-practice/client/src/components/TodoList.css
  fetch-in-react-practice/client/src/components/TodoList.js
  fetch-in-react-practice/client/src/components/Todos.js
  fetch-in-react-practice/client/src/index.css
  fetch-in-react-practice/client/src/index.js
  fetch-in-react-practice/client/src/logo.svg
  fetch-in-react-practice/client/src/reportWebVitals.js
  fetch-in-react-practice/client/src/setupTests.js
  fetch-in-react-practice/database/data.sql
  fetch-in-react-practice/database/import.sh
  fetch-in-react-practice/database/schema.sql
  fetch-in-react-practice/fetch-in-react-practice-notes.md
  fetch-in-react-practice/package-lock.json
  fetch-in-react-practice/package.json
  fetch-in-react-practice/server/.env.example
  fetch-in-react-practice/server/nodemon.json
  fetch-in-react-practice/server/package-lock.json
  fetch-in-react-practice/server/package.json
  fetch-in-react-practice/server/server.js
  package-lock.json
  package.json
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

express-error-handling - Alan Ho
  express-error-handling/.env.example
  express-error-handling/database/data.sql
  express-error-handling/database/schema.sql
  express-error-handling/express-error-handling-notes.md
  express-error-handling/package-lock.json
  express-error-handling/package.json
  express-error-handling/scripts/db-import.bash
  express-error-handling/server/client-error.js
  express-error-handling/server/error-middleware.js
  express-error-handling/server/server.js
Due: prettier --write, eslint --fix

api-authorization revised
  api-authorization/server/lib/authorization-middleware.js
Due: prettier --write, eslint --fix

fetch - revised 2
  fetch/main.js
Due: prettier --write, eslint --fix

express-error-handling -revised
  express-error-handling/server/server.js
Due: prettier --write, eslint --fix

api-authentication -revised
  api-authentication/server/server.js
Due: prettier --write, eslint --fix

Removed console lot
  api-authentication/server/server.js
Due: prettier --write, eslint --fix

react-carousel-component -revised
  react-carousel-component/my-app/src/Carousel.js
Due: prettier --write, eslint --fix

react-routing -revised
  react-routing/client/src/pages/Catalog.js
Due: prettier --write, eslint --fix

Quiz revised
  react-context/react-context-quiz-notes.md
Due: prettier --write

react-custom-hooks - Alan Ho
  react-custom-hooks/client/.gitignore
  react-custom-hooks/client/README.md
  react-custom-hooks/client/package-lock.json
  react-custom-hooks/client/package.json
  react-custom-hooks/client/public/favicon.ico
  react-custom-hooks/client/public/index.html
  react-custom-hooks/client/public/logo192.png
  react-custom-hooks/client/public/logo512.png
  react-custom-hooks/client/public/manifest.json
  react-custom-hooks/client/public/robots.txt
  react-custom-hooks/client/src/App.css
  react-custom-hooks/client/src/App.js
  react-custom-hooks/client/src/App.test.js
  react-custom-hooks/client/src/components/PageTitle.js
  react-custom-hooks/client/src/components/TodoForm.js
  react-custom-hooks/client/src/components/TodoList.css
  react-custom-hooks/client/src/components/TodoList.js
  react-custom-hooks/client/src/components/useTodos.js
  react-custom-hooks/client/src/index.css
  react-custom-hooks/client/src/index.js
  react-custom-hooks/client/src/logo.svg
  react-custom-hooks/client/src/reportWebVitals.js
  react-custom-hooks/client/src/setupTests.js
  react-custom-hooks/package-lock.json
  react-custom-hooks/package.json
  react-custom-hooks/react-custom-hooks-quiz-notes.md
  react-custom-hooks/server/.env.example
  react-custom-hooks/server/nodemon.json
  react-custom-hooks/server/package-lock.json
  react-custom-hooks/server/package.json
  react-custom-hooks/server/server.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

Updated toggleCompleted function
  react-custom-hooks/client/src/components/useTodos.js
Due: prettier --write, eslint --fix

Quiz and function revised
  react-custom-hooks/client/src/components/useTodos.js
  react-custom-hooks/react-custom-hooks-quiz-notes.md
Due: prettier --write, eslint --fix

react-file-uploads - Alan Ho
  react-file-uploads/.gitignore
  react-file-uploads/.gitkeep
  react-file-uploads/client/.gitignore
  react-file-uploads/client/README.md
  react-file-uploads/client/package-lock.json
  react-file-uploads/client/package.json
  react-file-uploads/client/public/favicon.ico
  react-file-uploads/client/public/index.html
  react-file-uploads/client/public/logo192.png
  react-file-uploads/client/public/logo512.png
  react-file-uploads/client/public/manifest.json
  react-file-uploads/client/public/robots.txt
  react-file-uploads/client/src/App.css
  react-file-uploads/client/src/App.js
  react-file-uploads/client/src/App.test.js
  react-file-uploads/client/src/UploadForm.js
  react-file-uploads/client/src/index.css
  react-file-uploads/client/src/index.js
  react-file-uploads/client/src/logo.svg
  react-file-uploads/client/src/reportWebVitals.js
  react-file-uploads/client/src/setupTests.js
  react-file-uploads/database/data.sql
  react-file-uploads/database/import.sh
  react-file-uploads/database/schema.sql
  react-file-uploads/javascript-logo.png
  react-file-uploads/package-lock.json
  react-file-uploads/package.json
  react-file-uploads/react-file-uploads-notes.md
  react-file-uploads/server/.env.example
  react-file-uploads/server/lib/client-error.js
  react-file-uploads/server/lib/error-middleware.js
  react-file-uploads/server/lib/uploads-middleware.js
  react-file-uploads/server/nodemon.json
  react-file-uploads/server/package-lock.json
  react-file-uploads/server/package.json
  react-file-uploads/server/server.js
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

Challenge finished
  react-file-uploads/client/src/UploadForm.js
Due: prettier --write, eslint --fix

big-o-notation - Alan Ho
  big-o-notation/.eslintrc
  big-o-notation/.gitkeep
  big-o-notation/big-o-notation-notes.md
  big-o-notation/big-o.js
Due: prettier --write, eslint --fix

Revised
  big-o-notation/big-o.js
Due: prettier --write, eslint --fix

data-structures-stacks - Alan Ho
  data-structures-stacks/.eslintrc
  data-structures-stacks/add-to-top.js
  data-structures-stacks/add-to-top.test.js
  data-structures-stacks/count-values.js
  data-structures-stacks/count-values.test.js
  data-structures-stacks/data-structures-stacks-quiz-notes.md
  data-structures-stacks/get-2nd-from-top.js
  data-structures-stacks/get-2nd-from-top.test.js
  data-structures-stacks/get-top.js
  data-structures-stacks/get-top.test.js
  data-structures-stacks/insert-under-top.js
  data-structures-stacks/insert-under-top.test.js
  data-structures-stacks/is-empty.js
  data-structures-stacks/is-empty.test.js
  data-structures-stacks/lib/stack.js
  data-structures-stacks/lib/stack.test.js
  data-structures-stacks/max-value.js
  data-structures-stacks/max-value.test.js
  data-structures-stacks/package-lock.json
  data-structures-stacks/package.json
  data-structures-stacks/take-top.js
  data-structures-stacks/take-top.test.js
Due: prettier --write, eslint --fix

data-structures-stacks - Alan Ho
  data-structures-stacks/data-structures-stacks-quiz-notes.md
Due: prettier --write

Code revised and challenge completed
  data-structures-stacks/get-2nd-from-top.js
  data-structures-stacks/get-top.js
  data-structures-stacks/insert-under-top.js
  data-structures-stacks/take-top.js
Due: prettier --write, eslint --fix
