Repository alanho-05/c0323-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, prettier --write, stylelint --fix, eslint --fix

.lintstagedrc:

{
  "*.html": [
    "markuplint",
    "prettier --write"
  ],
  "*.css": [
    "stylelint --fix",
    "prettier --write"
  ],
  "*.{js,jsx,tx,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

sql select - Alan Ho
  sql-select/.gitkeep
  sql-select/actor-forty.sql
  sql-select/actor-names.sql
  sql-select/all-actors.sql
  sql-select/all-customers.sql
  sql-select/all-films.sql
  sql-select/all-genres.sql
  sql-select/all-languages.sql
  sql-select/cheap-to-rent.sql
  sql-select/expensive-films.sql
  sql-select/five-customer-emails.sql
  sql-select/inactive-customers.sql
  sql-select/name-of-file.sql
  sql-select/r-rated-films.sql
  sql-select/second-store-customers.sql
  sql-select/sql-select-quiz-notes.md
  sql-select/ten-actor-first-names.sql
  sql-select/twenty-films-of-06.sql
  sql-select/two-kilmers.sql
  sql-select/west-bengali-postal-codes.sql
Due: prettier --write

sql-insert - Alan Ho
  sql-insert/.gitkeep
  sql-insert/insert-actor.sql
  sql-insert/insert-languages.sql
  sql-insert/sql-insert-quiz-notes.md
Due: prettier --write

sql-update - Alan Ho
  sql-update/.gitkeep
  sql-update/make-yoder.sql
  sql-update/murica.sql
  sql-update/sick-prank.sql
  sql-update/sql-update-quiz-notes.md
Due: prettier --write

sql delete - Alan Ho
  sql-delete/.gitkeep
  sql-delete/bizarre.sql
  sql-delete/diplomat.sql
  sql-delete/puritanical.sql
  sql-delete/sanction.sql
  sql-delete/sql-delete-quiz-notes.md
Due: prettier --write

sql-join - Alan Ho
  sql-join/.gitkeep
  sql-join/big-spenders.sql
  sql-join/magic-mallrats.sql
  sql-join/sassy-cast.sql
  sql-join/sql-join-quiz-notes.md
  sql-join/what-and-when.sql
  sql-join/where-are-they.sql
Due: prettier --write

sql-delete - revised
  sql-delete/puritanical.sql
Due: none

sql-aggregates - Alan Ho
  sql-aggregates/.gitkeep
  sql-aggregates/average-cost.sql
  sql-aggregates/movie-maniacs.sql
  sql-aggregates/on-the-map.sql
  sql-aggregates/sql-aggregates-quiz-notes.md
  sql-aggregates/starring-in.sql
  sql-aggregates/total-dvds.sql
Due: prettier --write

sql-aggregates - revised
  sql-aggregates/on-the-map.sql
  sql-aggregates/starring-in.sql
Due: none

Quiz revised
  sql-aggregates/on-the-map.sql
  sql-aggregates/sql-aggregates-quiz-notes.md
Due: prettier --write

sgt-back-end - Alan Ho
  sgt-back-end/.gitkeep
  sgt-back-end/data.sql
  sgt-back-end/package-lock.json
  sgt-back-end/package.json
  sgt-back-end/schema.sql
  sgt-back-end/server.js
  sgt-back-end/sgt-back-end-notes.md
Due: prettier --write, eslint --fix

sgt-back-end updated
  sgt-back-end/server.js
Due: prettier --write, eslint --fix

webpack-and-babel - Alan Ho
  webpack-and-babel/imports.js
  webpack-and-babel/webpack-and-babel-quiz-notes.md
Due: prettier --write, eslint --fix

react-intro - Alan Ho
  .stylelintrc
  react-intro/.gitkeep
  react-intro/my-app/.gitignore
  react-intro/my-app/README.md
  react-intro/my-app/package-lock.json
  react-intro/my-app/package.json
  react-intro/my-app/public/favicon.ico
  react-intro/my-app/public/index.html
  react-intro/my-app/public/logo192.png
  react-intro/my-app/public/logo512.png
  react-intro/my-app/public/manifest.json
  react-intro/my-app/public/robots.txt
  react-intro/my-app/src/App.css
  react-intro/my-app/src/App.js
  react-intro/my-app/src/App.test.js
  react-intro/my-app/src/index.css
  react-intro/my-app/src/index.js
  react-intro/my-app/src/logo.svg
  react-intro/my-app/src/reportWebVitals.js
  react-intro/my-app/src/setupTests.js
  react-intro/react-intro-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

react-jsx - Alan Ho
  .stylelintrc
  react-jsx/.gitkeep
  react-jsx/my-app/.gitignore
  react-jsx/my-app/README.md
  react-jsx/my-app/package-lock.json
  react-jsx/my-app/package.json
  react-jsx/my-app/public/favicon.ico
  react-jsx/my-app/public/index.html
  react-jsx/my-app/public/logo192.png
  react-jsx/my-app/public/logo512.png
  react-jsx/my-app/public/manifest.json
  react-jsx/my-app/public/robots.txt
  react-jsx/my-app/src/App.css
  react-jsx/my-app/src/App.js
  react-jsx/my-app/src/App.test.js
  react-jsx/my-app/src/index.css
  react-jsx/my-app/src/index.js
  react-jsx/my-app/src/logo.svg
  react-jsx/my-app/src/reportWebVitals.js
  react-jsx/my-app/src/setupTests.js
  react-jsx/react-jsx-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

react-components - Alan Ho
  react-components/.gitkeep
  react-components/my-app/.gitignore
  react-components/my-app/README.md
  react-components/my-app/package-lock.json
  react-components/my-app/package.json
  react-components/my-app/public/favicon.ico
  react-components/my-app/public/index.html
  react-components/my-app/public/logo192.png
  react-components/my-app/public/logo512.png
  react-components/my-app/public/manifest.json
  react-components/my-app/public/robots.txt
  react-components/my-app/src/App.css
  react-components/my-app/src/App.js
  react-components/my-app/src/App.test.js
  react-components/my-app/src/CustomButton.js
  react-components/my-app/src/index.css
  react-components/my-app/src/index.js
  react-components/my-app/src/logo.svg
  react-components/my-app/src/reportWebVitals.js
  react-components/my-app/src/setupTests.js
  react-components/react-components-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

Quiz Added
  react-components/react-components-quiz-notes.md
Due: prettier --write

webpack-and-babel revised
  webpack-and-babel/imports.js
Due: prettier --write, eslint --fix

webpack-and-babel revised 2
  webpack-and-babel/imports.js
Due: prettier --write, eslint --fix

Quiz Revised
  react-components/react-components-quiz-notes.md
Due: prettier --write

Quiz revised 2
  react-components/react-components-quiz-notes.md
Due: prettier --write

react-props-and-expressions - Alan Ho
  react-props-and-expressions/.gitignore
  react-props-and-expressions/.gitkeep
  react-props-and-expressions/my-app/.gitignore
  react-props-and-expressions/my-app/README.md
  react-props-and-expressions/my-app/package-lock.json
  react-props-and-expressions/my-app/package.json
  react-props-and-expressions/my-app/public/favicon.ico
  react-props-and-expressions/my-app/public/index.html
  react-props-and-expressions/my-app/public/logo192.png
  react-props-and-expressions/my-app/public/logo512.png
  react-props-and-expressions/my-app/public/manifest.json
  react-props-and-expressions/my-app/public/robots.txt
  react-props-and-expressions/my-app/src/App.css
  react-props-and-expressions/my-app/src/App.js
  react-props-and-expressions/my-app/src/App.test.js
  react-props-and-expressions/my-app/src/CustomButton.js
  react-props-and-expressions/my-app/src/index.css
  react-props-and-expressions/my-app/src/index.js
  react-props-and-expressions/my-app/src/logo.svg
  react-props-and-expressions/my-app/src/reportWebVitals.js
  react-props-and-expressions/my-app/src/setupTests.js
  react-props-and-expressions/react-props-and-expressions-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

Work in progress
  react-events/.gitkeep
  react-events/my-app/.gitignore
  react-events/my-app/README.md
  react-events/my-app/package-lock.json
  react-events/my-app/package.json
  react-events/my-app/public/favicon.ico
  react-events/my-app/public/index.html
  react-events/my-app/public/logo192.png
  react-events/my-app/public/logo512.png
  react-events/my-app/public/manifest.json
  react-events/my-app/public/robots.txt
  react-events/my-app/src/App.css
  react-events/my-app/src/App.js
  react-events/my-app/src/App.test.js
  react-events/my-app/src/CustomButton.js
  react-events/my-app/src/index.css
  react-events/my-app/src/index.js
  react-events/my-app/src/logo.svg
  react-events/my-app/src/reportWebVitals.js
  react-events/my-app/src/setupTests.js
  react-events/react-events-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

react-events - Alan Ho
  react-events/react-events-quiz-notes.md
Due: prettier --write

react-state - Alan Ho
  react-state/.gitkeep
  react-state/my-app/.gitignore
  react-state/my-app/README.md
  react-state/my-app/package-lock.json
  react-state/my-app/package.json
  react-state/my-app/public/favicon.ico
  react-state/my-app/public/index.html
  react-state/my-app/public/logo192.png
  react-state/my-app/public/logo512.png
  react-state/my-app/public/manifest.json
  react-state/my-app/public/robots.txt
  react-state/my-app/src/App.css
  react-state/my-app/src/App.js
  react-state/my-app/src/App.test.js
  react-state/my-app/src/ToggleButton.css
  react-state/my-app/src/ToggleButton.js
  react-state/my-app/src/index.css
  react-state/my-app/src/index.js
  react-state/my-app/src/logo.svg
  react-state/my-app/src/reportWebVitals.js
  react-state/my-app/src/setupTests.js
  react-state/react-state-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

work in progress
  react-hot-button-component/.gitkeep
  react-hot-button-component/my-app/.gitignore
  react-hot-button-component/my-app/README.md
  react-hot-button-component/my-app/package-lock.json
  react-hot-button-component/my-app/package.json
  react-hot-button-component/my-app/public/favicon.ico
  react-hot-button-component/my-app/public/index.html
  react-hot-button-component/my-app/public/logo192.png
  react-hot-button-component/my-app/public/logo512.png
  react-hot-button-component/my-app/public/manifest.json
  react-hot-button-component/my-app/public/robots.txt
  react-hot-button-component/my-app/src/App.css
  react-hot-button-component/my-app/src/App.js
  react-hot-button-component/my-app/src/App.test.js
  react-hot-button-component/my-app/src/HotButton.css
  react-hot-button-component/my-app/src/HotButton.js
  react-hot-button-component/my-app/src/index.css
  react-hot-button-component/my-app/src/index.js
  react-hot-button-component/my-app/src/logo.svg
  react-hot-button-component/my-app/src/reportWebVitals.js
  react-hot-button-component/my-app/src/setupTests.js
  react-hot-button-component/react-hot-button-component-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

quiz revised
  react-state/my-app/src/ToggleButton.js
  react-state/react-state-quiz-notes.md
Due: prettier --write, eslint --fix

react-hot-button-component - Alan Ho
  react-hot-button-component/my-app/src/App.js
  react-hot-button-component/my-app/src/HotButton.css
  react-hot-button-component/my-app/src/HotButton.js
Due: prettier --write, stylelint --fix, eslint --fix

work in progress
  react-toggle-switch-component/.gitkeep
  react-toggle-switch-component/my-app/.gitignore
  react-toggle-switch-component/my-app/README.md
  react-toggle-switch-component/my-app/package-lock.json
  react-toggle-switch-component/my-app/package.json
  react-toggle-switch-component/my-app/public/favicon.ico
  react-toggle-switch-component/my-app/public/index.html
  react-toggle-switch-component/my-app/public/logo192.png
  react-toggle-switch-component/my-app/public/logo512.png
  react-toggle-switch-component/my-app/public/manifest.json
  react-toggle-switch-component/my-app/public/robots.txt
  react-toggle-switch-component/my-app/src/App.css
  react-toggle-switch-component/my-app/src/App.js
  react-toggle-switch-component/my-app/src/App.test.js
  react-toggle-switch-component/my-app/src/ToggleSwitch.css
  react-toggle-switch-component/my-app/src/ToggleSwitch.js
  react-toggle-switch-component/my-app/src/index.css
  react-toggle-switch-component/my-app/src/index.js
  react-toggle-switch-component/my-app/src/logo.svg
  react-toggle-switch-component/my-app/src/reportWebVitals.js
  react-toggle-switch-component/my-app/src/setupTests.js
  react-toggle-switch-component/react-toggle-switch-component-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

react-toggle-switch-component - Alan Ho
  react-toggle-switch-component/my-app/src/App.js
  react-toggle-switch-component/my-app/src/ToggleSwitch.css
  react-toggle-switch-component/my-app/src/ToggleSwitch.js
Due: prettier --write, stylelint --fix, eslint --fix

react-form-controls - Alan Ho
  react-form-controls/.gitkeep
  react-form-controls/my-app/.gitignore
  react-form-controls/my-app/README.md
  react-form-controls/my-app/package-lock.json
  react-form-controls/my-app/package.json
  react-form-controls/my-app/public/favicon.ico
  react-form-controls/my-app/public/index.html
  react-form-controls/my-app/public/logo192.png
  react-form-controls/my-app/public/logo512.png
  react-form-controls/my-app/public/manifest.json
  react-form-controls/my-app/public/robots.txt
  react-form-controls/my-app/src/App.css
  react-form-controls/my-app/src/App.js
  react-form-controls/my-app/src/App.test.js
  react-form-controls/my-app/src/RegistrationFormControlled.js
  react-form-controls/my-app/src/RegistrationFormUncontrolled.js
  react-form-controls/my-app/src/index.css
  react-form-controls/my-app/src/index.js
  react-form-controls/my-app/src/logo.svg
  react-form-controls/my-app/src/reportWebVitals.js
  react-form-controls/my-app/src/setupTests.js
  react-form-controls/react-form-controls-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

react-toggle-switch-component revised
  react-toggle-switch-component/my-app/src/ToggleSwitch.js
Due: prettier --write, eslint --fix

react-rendering-list - Alan Ho
  react-rendering-lists/.gitkeep
  react-rendering-lists/my-app/.gitignore
  react-rendering-lists/my-app/README.md
  react-rendering-lists/my-app/package-lock.json
  react-rendering-lists/my-app/package.json
  react-rendering-lists/my-app/public/favicon.ico
  react-rendering-lists/my-app/public/index.html
  react-rendering-lists/my-app/public/logo192.png
  react-rendering-lists/my-app/public/logo512.png
  react-rendering-lists/my-app/public/manifest.json
  react-rendering-lists/my-app/public/robots.txt
  react-rendering-lists/my-app/src/App.css
  react-rendering-lists/my-app/src/App.js
  react-rendering-lists/my-app/src/App.test.js
  react-rendering-lists/my-app/src/PokemonList.js
  react-rendering-lists/my-app/src/index.css
  react-rendering-lists/my-app/src/index.js
  react-rendering-lists/my-app/src/logo.svg
  react-rendering-lists/my-app/src/reportWebVitals.js
  react-rendering-lists/my-app/src/setupTests.js
  react-rendering-lists/react-rendering-lists-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

work in progress
  react-validated-input-component/.gitkeep
  react-validated-input-component/my-app/.gitignore
  react-validated-input-component/my-app/README.md
  react-validated-input-component/my-app/package-lock.json
  react-validated-input-component/my-app/package.json
  react-validated-input-component/my-app/public/favicon.ico
  react-validated-input-component/my-app/public/index.html
  react-validated-input-component/my-app/public/logo192.png
  react-validated-input-component/my-app/public/logo512.png
  react-validated-input-component/my-app/public/manifest.json
  react-validated-input-component/my-app/public/robots.txt
  react-validated-input-component/my-app/src/App.css
  react-validated-input-component/my-app/src/App.js
  react-validated-input-component/my-app/src/App.test.js
  react-validated-input-component/my-app/src/index.css
  react-validated-input-component/my-app/src/index.js
  react-validated-input-component/my-app/src/logo.svg
  react-validated-input-component/my-app/src/reportWebVitals.js
  react-validated-input-component/my-app/src/setupTests.js
  react-validated-input-component/react-validated-input-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

Quiz revised
  react-rendering-lists/react-rendering-lists-quiz-notes.md
Due: prettier --write

react-form-controls revised
  react-form-controls/my-app/src/RegistrationFormControlled.js
Due: prettier --write, eslint --fix

react-validated-input-component - Alan Ho
  react-validated-input-component/my-app/public/index.html
  react-validated-input-component/my-app/src/App.js
  react-validated-input-component/my-app/src/ValidatedInput.js
Due: markuplint, prettier --write, eslint --fix

react-validated-input-component - revised
  react-validated-input-component/my-app/src/ValidatedInput.js
Due: prettier --write, eslint --fix

react-sharing-state - Alan Ho
  react-sharing-state/my-app/.gitignore
  react-sharing-state/my-app/README.md
  react-sharing-state/my-app/package-lock.json
  react-sharing-state/my-app/package.json
  react-sharing-state/my-app/public/favicon.ico
  react-sharing-state/my-app/public/index.html
  react-sharing-state/my-app/public/logo192.png
  react-sharing-state/my-app/public/logo512.png
  react-sharing-state/my-app/public/manifest.json
  react-sharing-state/my-app/public/robots.txt
  react-sharing-state/my-app/src/App.css
  react-sharing-state/my-app/src/App.js
  react-sharing-state/my-app/src/App.test.js
  react-sharing-state/my-app/src/Container.js
  react-sharing-state/my-app/src/index.css
  react-sharing-state/my-app/src/index.js
  react-sharing-state/my-app/src/logo.svg
  react-sharing-state/my-app/src/reportWebVitals.js
  react-sharing-state/my-app/src/setupTests.js
  react-sharing-state/react-sharing-state-quiz-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

react-accordion-component - Alan Ho
  react-accordion-component/.gitkeep
  react-accordion-component/my-app/.gitignore
  react-accordion-component/my-app/README.md
  react-accordion-component/my-app/package-lock.json
  react-accordion-component/my-app/package.json
  react-accordion-component/my-app/public/favicon.ico
  react-accordion-component/my-app/public/index.html
  react-accordion-component/my-app/public/logo192.png
  react-accordion-component/my-app/public/logo512.png
  react-accordion-component/my-app/public/manifest.json
  react-accordion-component/my-app/public/robots.txt
  react-accordion-component/my-app/src/Accordion.css
  react-accordion-component/my-app/src/Accordion.js
  react-accordion-component/my-app/src/App.css
  react-accordion-component/my-app/src/App.js
  react-accordion-component/my-app/src/App.test.js
  react-accordion-component/my-app/src/index.css
  react-accordion-component/my-app/src/index.js
  react-accordion-component/my-app/src/logo.svg
  react-accordion-component/my-app/src/reportWebVitals.js
  react-accordion-component/my-app/src/setupTests.js
  react-accordion-component/react-accordion-component-notes.md
Due: markuplint, prettier --write, stylelint --fix, eslint --fix

react-accordion-component revised
  react-accordion-component/my-app/src/Accordion.css
  react-accordion-component/my-app/src/Accordion.js
Due: prettier --write, stylelint --fix, eslint --fix
